mqtt-processor/.env
mqtt-processor/.venv/
mqtt-processor/bridge.log
mqtt-processor/bridge.pid
aws/dist/
aws/
awscliv2.zip

**/*.env
mqtt-processor/config/garden-telemetry.env
mqtt-processor/config/**

**/node_modules/
**/dist/